body {
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
    background-color: white;
    margin: 0;
    padding: 0;
    color: black;
}

header {
    background-color: #870000;
    padding: 30px;
    text-align: center;
    color: white;
}

h1, h2, h3 {
    font-family: 'The Seasons', serif;
    color: #FFD700;
    text-shadow: 2px 2px 3px black; /* Black outline effect */
}

.about-text {
    font-size: 1.4em;
}

.logo {
    width: 200px;
    height: auto;
    display: block;
    margin: 20px auto;
}

.show-list {
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.show {
    width: 350px;
    background: white;
    padding: 20px;
    cursor: pointer;
    border: 4px solid #870000;
    text-align: center;
}

.show img {
    width: 100%;
}

.price {
    font-weight: bold;
    color: #FFD700;
}

.new-tag {
    font-family: 'The Seasons', serif;
    font-size: 1.7em;
    color: #FFD700;
}

/* Buttons */
.big-button {
    background-color: #870000;
    color: white;
    padding: 15px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2em; /* Increased size */
    margin-top: 10px;
}

.booking-box {
    border: 4px solid #870000;
    padding: 15px;
    margin: 15px auto;
    width: 50%;
    font-size: 1.2em;
}

.ticket-box {
    border: 4px solid #870000;
    padding: 20px;
    background-color: #FFD700;
    color: black;
    font-size: 1.2em;
}
