body {
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
    background-color: white;
    margin: 0;
    padding: 0;
    color: black;
}

header {
    background-color: #870000;
    padding: 20px;
    text-align: center;
    color: white;
}

h1, h2 {
    font-family: 'The Seasons', serif;
    color: #FFD700; /* Gold */
}

.about-text {
    font-size: 1.2em;
}

.logo {
    width: 150px;
    height: auto;
    display: block;
    margin: 20px auto;
}

section {
    padding: 20px;
}

/* Shows Styling */
.show-list {
    display: flex;
    justify-content: space-around;
    gap: 40px;
}

.show {
    width: 280px;
    background: white;
    padding: 15px;
    cursor: pointer;
    border: 3px solid #870000;
    text-align: center;
}

.show img {
    width: 100%;
}

.price {
    font-weight: bold;
    color: #FFD700;
}

/* Booking Section */
.booking-box {
    border: 3px solid #870000;
    padding: 10px;
    margin: 10px auto;
    width: 50%;
}

.ticket-box {
    border: 3px solid #870000;
    padding: 15px;
    background-color: #FFD700;
    color: black;
}
